<head>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="assets/images/pic1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/images/pic2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/images/pic3.jpg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      

    
<p>
     Well so time passes by real quick I mean look at us we have already known eachother for like a month. So great to have you in my life. Happiest 20th birthday I mean yeaaa things didnt go as you and I planned but ukw I believe whatever happens , happens for the very best and we always have the power to rise back from where we had fallen off.Life can be really unpredictable I mean just look at us . Well shoutout to your mom and dad for raising you and making you the way you are . You are an awesome person to know and I would just love to know you more. Anyways I just wanna say HAPPY BIRTHDAY to you . STAY BLESSED . STAY CONNECTED.  
</p>
<HR>
<h2>
    ALSO....... 
</h2>
<HR>
<h2>
    follow for follow?
</h2>
<HR>
<h2>
    Are you into poems?
</h2>

</body>
